<div id="carouselExample" class="carousel slide h-100 position-absolute w-100 z-2 ">
  <div class="carousel-inner h-100">
    <div class="carousel-item active h-100">
      <img src="~/img/0.PNG" class="img-fluid d-block w-100 h-100" style="object-fit: cover;"  alt="Slide 1">
    </div>
    <div class="carousel-item h-100">
      <img src="~/img/2.jpg" class="img-fluid d-block w-100 h-100 " style="object-fit: cover;"  alt="Slide 2">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </button>
</div>