<nav class="navbar navbar-expand-lg bg-dark text-white fixed-top p-3 mx-8 fs-5 opacity-50 position-fixed w-100">
    <div class="container">
        <a class="navbar-brand text-white" href="#">Logo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger" href="/Admin/JobRequest">Admin Page</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <button class="btn btn-outline-info  btn-lg rounded-pill" type=""><i class="bi bi-telephone"></i> Hemen Bilgi Alın</button>
                </li>
            </ul>
        </div>
    </div>
</nav>