 <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Atmaca         Harfiyat</h3>
        </div>

        <ul class="list-unstyled components">
            <p>Ferhat Ersoy</p>
            <li>
                <a asp-action="Index" asp-controller="JobRequest"> <i class="bi bi-house mx-1"></i> Dashboard</a>
            </li>
            <li>
                <a asp-action="ActiveJobsRequest" asp-controller="JobRequest" ><i class="bi bi-clipboard2-pulse mx-1"></i>Devam Eden İşler</a>
            </li>
            <li>
                <a asp-action="WaitingWorks" asp-controller="JobRequest"><i class="bi bi-bag-check mx-1"></i>Bekliyen İşler</a>
            </li>
            <li>
                <a href="#"><i class="bi bi-bag-x mx-1"></i>Red Edilen İşler</a>
            </li>
        </ul>

    </nav>